[user]
  name  = Keisuke Tada
  email = tdkskdt@gmail.com
[color]
  ui = true
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  di = diff
  d = diff --stat
  dw = diff --word-diff=color
  pr = pull --rebase
  lg = log -p --stat
  tree = log --graph --pretty=oneline --abbrev-commit --decorate
[core]
  excludesfile = ~/.gitignore
