[user]
  name  = Keisuke Tada
[github]
  user = tdksk
[ghq]
  root = ~/src
[include]
  path = ~/.gitconfig.local
[color]
  ui = true
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[push]
  default = current
[merge]
  conflictstyle = diff3
[merge "mergepbx"]
  name = Xcode project files merger
  driver = mergepbx %O %A %B
[alias]
  ad = add
  co = checkout
  ci = commit
  s  = status
  br = branch
  ba = branch -a
  di = diff
  d  = diff --stat
  dc = diff --cached
  dw = diff --word-diff=color
  pr = pull --rebase
  ri        = rebase -i
  rcontinue = rebase --continue
  rabort    = rebase --abort
  st   = stash
  stp  = stash pop
  sm   = submodule
  smup = submodule update --init --recursive
  smpa = "submodule foreach 'git checkout master; git pull'"
  l    = log --stat --pretty=format:'%Cred%h %Creset%s %Cgreen(%cr) %C(bold blue)%an%Creset%C(yellow)%d %Creset'
  lg   = log -p --stat
  tree = log --graph --pretty=format:'%Cred%h%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset' --abbrev-commit --date=relative
  branch-root = merge-base master HEAD
  today = log --since=midnight --author='Keisuke Tada' --oneline
  yesterday = log --since=yesterday --author='Keisuke Tada' --oneline
[core]
  excludesfile   = ~/.gitignore
  attributesfile = ~/.gitattributes
  editor = vim

[tig "bind"]
  # Disable default G mapping to git gc
  generic = G none
  # Keybinings like vim
  generic = g move-first-line
  generic = G move-last-line
  generic = u move-page-up
  generic = d move-page-down
  generic = <Ctrl-b> move-page-up
  generic = <Ctrl-f> move-page-down
  # Misc
  generic = o enter
[tig "color"]
  cursor      = default black
  title-focus = white black
  title-blur  = black white
