[submodule ".zsh/zsh-vcs-prompt"]
	path = .zsh/zsh-vcs-prompt
	url = https://github.com/yonchu/zsh-vcs-prompt.git
[submodule ".zsh/zsh-completions"]
	path = .zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh/zsh-notify"]
	path = .zsh/zsh-notify
	url = https://github.com/marzocchi/zsh-notify.git
[submodule ".tmux/tmux-copycat"]
	path = .tmux/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule ".tmux/tmux-yank"]
	path = .tmux/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule ".tmux/tmux-open"]
	path = .tmux/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
[submodule ".tmux/tmux-online-status"]
	path = .tmux/tmux-online-status
	url = https://github.com/tmux-plugins/tmux-online-status
[submodule ".tmux/tmux-battery"]
	path = .tmux/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
